#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1

ifeq ($(DEB_HOST_ARCH),arm64)
arm64=YES
else
arm64=NO
endif

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		-DVMCS_INSTALL_PREFIX=/usr \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo \
		-DARM64=$(arm64)
